

body {
    margin: 0;
    font-family: Arial;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    /*font-size: 18px;*/
    color: rgb(3, 7, 70)
}
.body1{
    margin: 0 auto;
    overflow: hidden;
    background: url(https://image.ibb.co/cqFY0S/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    height: 100vh;


}
h1 {
    text-align: center;
    color: #fff;
    font-size: 44px;
    margin: 0;
}



.parent {
    background-color: antiquewhite;
    display: flex;
}



#map {
    width: 100%;
    height: 650px;
    border: 1px solid black;
    background: navajowhite;
    float: left;
}

#rightMap {
    width: 14%;
    /*height: 641px;*/
    margin: 0 10px;
    border: black;
    /*float: left;*/
    animation: rightMenu .5s ease-out;
    transition: all .5s;


}
#closeRightMap {
    width: 30px;
    height: 30px;
    /*background-color: transparent;*/
    border: 0px;
    background-image: url('icons/closeButton.png');
    background-size: contain;
    float: right;
}

#getLatLon{
    color: black;
    background: lightgreen;
    width: 150px;
    display: flex;
    margin:2px 0 0 0;
    /*font-family: 'Open Sans';*/
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #848484;
    border-radius: 8px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;

}
#rightMapMenu input {
    /*border: 0;*/
    width: 90%;
    display: flex;
    margin:0px;
    /*font-family: 'Open Sans';*/
    /*font-size: 16px;*/
    font-weight: 400;
    border: 2px solid #848484;
    color: black;
    border-radius: 15px;
    padding: 6px 10px;
    box-sizing: border-box;
    background: #ffffee/*ширина,в яку вже включені paddingи*/
}

#formEdit  label{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    width: 150px;
}
#rightMapMenu input[type="submit"]{
    color: black;
    background: lightgreen;
    width: 150px;
    display: flex;
    margin:2px 0 0 0;
    font-family: 'Open Sans';
    font-size: 16px;
    /*font-weight: 400;*/
    border: 2px solid #848484;
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    /*вирівняти напис в центр*/
}
.edit{
    background: lightgreen;
    text-align: center;
    color: black;
    margin: auto;
}
.dovidka li {
    margin: auto;
    width: 500px;
}
.dovidka h3{
    margin: auto;
    width: 550px;
    background: lavenderblush;
    border-radius: 15px;
    padding: 10px;
}

.spravnist_vkazivnik{
    background: #f19a20;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px;
    background: navajowhite;
}

@keyframes rightMenu {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/*
@keyframes hideRightMenu {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}*/
